---
layout: main
title: Get Your Disclosures
description: Get Your Disclosures
---
<div id="main" class="slideshow h-100">
  {% for photo in site.data.property.photos %}
    <div class="slideshow-image" style="background-image: url('{{ site.baseurl }}{{ photo }}')"></div>
  {% endfor %}

  <div class="container-fliud h-100">
    <div class="row card-container m-5">

      <div class="col-12 p-2 heading">
        <a class="icon icon-header-phone" href="tel:{{ site.data.agent.phone |remove:" "|remove:")"|remove:"("|remove:"-" }}">{{ site.data.agent.phone }}</a>
      </div>

      <form action="{{ publish_lead_url }}" method="post" class="col-12 p-4" autocomplete="off">
        {% include cards/card1.html %}
        {% include cards/card2.html %}
        {% include footer.html %}
      </form>

    </div>
  </div>
</div>
