<div class="card2" style="display: visible">
  <h4 class="text-center">{{ site.data.agent.fullname }} with {{ site.data.brokerage.name }} here to help</h4>
  <div class="agent">
    <div class="pt-4 mr-4 agent-photo">
      <img width="182" class="rounded-circle" alt="Agent" src="{{ site.data.agent.photo }}">
    </div>
    <div class="pt-4 ml-4 agent-info text-center">
      <div class="agent-name">{{ site.data.agent.name }}</div>
      {% if site.data.agent.phone %}
      <div class="icon icon-phone icon-social agent-phone">Phone: <a target="_blank" class="social" href="tel:{{ site.data.agent.phone  |remove:" "|remove:")"|remove:"("|remove:"-" }}">{{ site.data.agent.phone }}</a></div>
      {% endif %}
      {% if site.data.agent.fax %}
        <div class="icon icon-receipt icon-social agent-fax">Fax: <a target="_blank" href="tel:{{ site.data.agent.fax |remove:" "|remove:")"|remove:"("|remove:"-" }}">{{ site.data.agent.fax }}</a></div>
      {% endif %}
      {% if site.data.agent.email %}
        <div class="icon icon-email icon-social agent-email">E-mail: <a target="_blank" href="mailto:{{ site.data.agent.email }}">{{ site.data.agent.email }}</a></div>
      {% endif %}
      {% if site.data.agent.website %}
        <div class="icon icon-desktop icon-social agent-website">Website: <a target="_blank" href="{{ site.data.agent.website }}">{{ site.data.agent.website }}</a></div>
      {% endif %}
      <div class="agent-social pt-3">
        {%- if site.data.agent.facebook -%}<a target="_blank" class="icon icon-facebook" href="https://www.facebook.com/{{ site.data.agent.facebook | cgi_escape | escape }}" title="{{ site.data.agent.facebook | escape }}"></a>{%- endif -%}

        {%- if site.data.agent.instagram -%}<a target="_blank" class="icon icon-instagram" href="https://www.instagram.com/{{ site.data.agent.instagram | cgi_escape | escape }}" title="{{ site.data.agent.instagram | escape }}"></a>{%- endif -%}

        {%- if site.data.agent.pinterest -%}<a target="_blank" class="icon icon-pinterest" href="https://www.pinterest.com/{{ site.data.agent.pinterest | cgi_escape | escape }}" title="{{ site.data.agent.pinterest | escape }}"></a>{%- endif -%}

        {%- if site.data.agent.youtube -%}<a target="_blank" class="icon icon-youtube" href="https://www.youtube.com/{{ site.data.agent.youtube | cgi_escape | escape }}" title="{{ site.data.agent.youtube | escape }}"></a>{%- endif -%}

        {%- if site.data.agent.youtube_channel -%}<a target="_blank" class="icon icon-youtube" href="https://www.youtube.com/channel/{{ site.data.agent.youtube_channel | cgi_escape | escape }}" title="{{ site.data.agent.youtube_channel_name | escape | default: 'YouTube' }}"></a>{%- endif -%}

        {%- if site.data.agent.twitter -%}<a target="_blank" class="icon icon-twitter" href="https://twitter.com/{{ site.data.agent.twitter | cgi_escape | escape }}" title="{{ site.data.agent.twitter | escape }}"></a>{%- endif -%}

        {%- if site.data.agent.linkedin -%}<a target="_blank" class="icon icon-linkedin" href="https://www.linkedin.com/in/{{ site.data.agent.linkedin | cgi_escape | escape }}" title="{{ site.data.agent.linkedin | escape }}"></a>{%- endif -%}

        {%- if site.data.agent.telegram -%}<a target="_blank" class="icon icon-telegram" href="https://t.me/{{ site.data.agent.telegram | cgi_escape | escape }}" title="{{ site.data.agent.telegram | escape }}"></a>{%- endif -%}
      </div>
    </div>
  </div>
</div>
