<div class="card1">
  <h1 class="text-center mb-4">{{ site.data.layout.title }}</h1>
  <p class="text-center">{{ site.data.property.address }}</p>
  <p class="mb-4 text-center">{{ site.data.property.city }}, {{ site.data.property.state }} {{ site.data.property.zip }}</p>

  <p class="mb-5 action-statement">
   {{ site.data.layout.inform }}
  </p>

  {% if site.data.layout.capture == 'Email' or site.data.layout.capture == 'Both' %}
  <div class="input-group input-group-lg mb-4">
    <div class="input-group-prepend email">
      <span class="input-group-text icon icon-email"></span>
    </div>
    <input  autocomplete="off" id="email" class="form-control" name="email" placeholder="Enter Your Email Address" required="true" type="text">
  </div>
  {% endif %}

  {% if site.data.layout.capture == 'Phone' or site.data.layout.capture == 'Both' %}
  <div class="input-group input-group-lg mb-4">
    <div class="input-group-prepend phone">
      <span class="input-group-text icon icon-phone"></span>
    </div>
    <input autocomplete="off" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number" required="true" type="tel">
  </div>
  {% endif %}

  <button class="btn btn-block btn-primary btn-lg get-results" type="submit">
    {{ site.data.layout.submit_button_text }}
  </button>
</div>
