<div class="row card-foot text-center mt-4">
  <div class="col-2">
    <span class="icon icon-equal-housing-opportunity"></span>
  </div>
  <div class="col-8 container inner">
    <div><a href="{{ site.data.brokerage.website }}"
      target="_blank">{{ site.data.brokerage.name }}</a></div>
    <div>{{ site.data.brokerage.address }}</div>
    <div>{{ site.data.brokerage.id }}</div>
  </div>
  <div class="col-2"></div>
</div>
