<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% seo %}
  {% include favicons.html %}
  {% include styles.html %}

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
</head>
