@font-face {
  font-family: 'rubik';
  src: url('../fonts/rubik/rubik-bold-webfont.eot');
  src: url('../fonts/rubik/rubik-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/rubik/rubik-bold-webfont.woff2') format('woff2'),
       url('../fonts/rubik/rubik-bold-webfont.woff') format('woff'),
       url('../fonts/rubik/rubik-bold-webfont.ttf') format('truetype'),
       url('../fonts/rubik/rubik-bold-webfont.svg#rubik-bold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-medium';
  src: url('../fonts/raleway/raleway-medium-webfont.eot');
  src: url('../fonts/raleway/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway/raleway-medium-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-medium-webfont.woff') format('woff'),
       url('../fonts/raleway/raleway-medium-webfont.ttf') format('truetype'),
       url('../fonts/raleway/raleway-medium-webfont.svg#ralewaybold') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-light';
  src: url('../fonts/raleway/raleway-extralight-webfont.eot');
  src: url('../fonts/raleway/raleway-extralight-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway/raleway-extralight-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-extralight-webfont.woff') format('woff'),
       url('../fonts/raleway/raleway-extralight-webfont.ttf') format('truetype'),
       url('../fonts/raleway/raleway-extralight-webfont.svg#ralewaylight') format('svg');
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'raleway';
  src: url('../fonts/raleway/raleway-regular-webfont.eot');
  src: url('../fonts/raleway/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
       url('../fonts/raleway/raleway-regular-webfont.ttf') format('truetype'),
       url('../fonts/raleway/raleway-regular-webfont.svg#raleway') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'raleway-thin';
  src: url('../fonts/raleway/raleway-thin-webfont.eot');
  src: url('../fonts/raleway/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway/raleway-thin-webfont.woff2') format('woff2'),
       url('../fonts/raleway/raleway-thin-webfont.woff') format('woff'),
       url('../fonts/raleway/raleway-thin-webfont.ttf') format('truetype'),
       url('../fonts/raleway/raleway-thin-webfont.svg#raleway') format('svg');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons/icons.eot?3vgwes');
  src: url('../fonts/icons/icons.eot?3vgwes#iefix') format('embedded-opentype'),
       url('../fonts/icons/icons.ttf?3vgwes') format('truetype'),
       url('../fonts/icons/icons.woff?3vgwes') format('woff'),
       url('../fonts/icons/icons.svg?3vgwes#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
