* {
  outline: 0 !important;
  box-shadow: 0 !important;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
}

input.error {
  border: 1px solid #ff0000 !important;
}

input {
  border-color: $blue;
  font-size: 1rem !important;
}
input,
button {
  box-shadow: 1px 1px 1px #ccc;
  border: 1px solid $gray;
  font-family: 'raleway-light';
}

button {
  text-transform: uppercase;
}

input:focus {
  border: 1px solid #2199e8;
  box-shadow: none !important;
}

p {
  font-family: 'raleway-thin';
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0px !important;
}

.input-group-lg > .custom-select,
.input-group-lg > .form-control:not(textarea) {
    height: calc(2rem + 1rem + 2px);
}
