[class^="icon-"], [class*=" icon-"] {
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}

.icon-desktop:before {
  content: "\e900";
}
.icon-email:before {
  content: "\e901";
}
.icon-equal-housing-opportunity:before {
  content: "\e902";
  font-size: 3.5rem;
  color: rgba(153, 153, 153, .5);
}
.icon-facebook:before {
  font-family: 'icons' !important;
  content: "\e903";
}
.icon-instagram:before {
  font-family: 'icons' !important;
  content: "\e904";
}
.icon-linkedin:before {
  font-family: 'icons' !important;
  content: "\e905";
}
.icon-mobile:before {
  content: "\e906";
}
.icon-phone:before {
  content: "\e907";
}
.icon-receipt:before {
  content: "\e908";
}
.icon-twitter:before {
  font-family: 'icons' !important;
  content: "\e909";
}
.icon-youtube:before {
  font-family: 'icons' !important;
  content: "\e90a";
}

.icon-header-phone {
  font-family: 'raleway-light' !important;
}

.icon-header-phone:before {
  font-family: 'icons' !important;
  content: "\e907";
  top: 2px;
  position: relative;
  right: 7px;
  font-size: 1.2rem;
}


.icon-social:before {
  font-family: 'icons' !important;
  padding-right: 6px
}

.icon-social {
  line-height: 1.5rem;
  font-family: 'raleway' !important;
  font-size: 1.1rem
}

