#main {
  min-height: 1350px;
  min-height: 800px;
}

#main .container-fliud {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

#main .heading {
  position: absolute;
  right: 0px;
  top: 0;
  width: 260px;
  background-color: rgba(255, 255, 255, .6);
  text-align: center;
  font-size: 1.1rem;
  border-bottom-left-radius: 6px;
  z-index: 100;
}

#main .heading a {
  color: $gray;
  font-size: 1.5rem;
  font-family: 'raleway-bold';
}

#main .heading a:hover {
  text-decoration: none;
  color: $gray;
}

#main .card2 {
  display: none;
}

#main .card-container {
  width: 31.25rem;
}

#main .card-container form {
  color: $gray;
  background-color: $card-gray-alpha;
  border-radius: 6px;
}

#main .card-container h1 {
  font-size: 2.25rem;
  text-transform: uppercase;
  font-family: 'rubik-bold';
  color: $gray;
  text-shadow: 1px 1px 1px $white;
}

#main .input-group-lg {
 box-shadow: 1px 1px 1px #ccc;
 border-radius: 6px;
}

.form-control {
  border: 1px solid $gray !important;
}

.input-group-prepend {
 border: 1px solid $gray !important;
 border-radius: 6px;
 margin-right: -4px !important;
}

#main .card-foot {
  font-size: .9rem;
  line-height: 1.1rem;
  font-family: 'ubuntu-light';
  color: $gray !important;
  width: 100%;
}

#main .card-foot a {
  color: $blue;
}

#main .card-foot a:hover {
  color: $blue-hover;
  text-decoration: none;
}

#main .input-group-text {
  background-color: $white;
  border-bottom: 1px !important;
}

// Form field styles
#main .btn-primary {
  text-transform: uppercase;
  background-color: $blue;
  color: $white;
}

#main .btn-primary:visited,
#main .btn-primary:active,
#main .btn-primary:hover {
  background-color: $blue-hover;
  color: $white;
  border-color: none;
}

// Address loader div styling
#main .pac-container {
  border: 1px solid $blue !important;
  border-bottom-left-radius: 3px  !important;
  border-bottom-right-radius: 3px  !important;
}

#main .pac-item {
  cursor: pointer;
  cursor: hand;
  border-bottom: $gray !important;
  padding-right: 2px;
}

#main .pac-item:hover .pac-icon-marker {
  background-position: -18px -161px;
}

#main .hdpi.pac-logo:after {
  background-image: none;
}

#main .pac-logo:after {
  padding: 0;
  height: 0px;
  text-align: left;
  display: none;
  background-image: none;
  background-position: none;
  background-repeat: no-repeat;
  background-size: 0 0;
}

// Agent styling
#main .agent-photo {
  text-align: center;
}

#main .agent-info,
#main .agent-info a {
  font-family: 'raleway-light';
  font-size: 1.1rem;
}

#main .agent-info a {
  color: $blue;
  text-decoration: none;
  font-family: 'raleway' !important;
}

#main .agent-info a:hover {
  color: $blue-hover;
}

#main .agent-name {
  font-size: 1.3rem;
}

#main .agent-title {
  font-size: 1rem;
}

#main .agent-social a {
  color: $social-gray;
  font-size: 2rem;
  padding-left: .3rem;
  padding-right: .3rem;
  text-decoration: none;
}

#main .agent-social a:hover {
  text-decoration: none;
  color: $blue;
}

#main .agent {
  font-family: 'raleway-light';
  display: grid;
  grid-template-columns: 1fr;
}

@media (max-width: 800px) {
  #main .heading {
    padding: .4rem !important;
  }
}

@media (max-width: 618px) {
  #main .card-container {
    width: 88%;
  }

  #main .card-container.m-5 {
    margin: 4rem 1.5rem !important;
  }
}

@media (min-width: 769px) {
  #main .heading {

  }
}

@media (max-width: 768px) {

  #main .agent {
    grid-template-columns: 1fr;
  }


  #main .agent .agent-photo {
    padding-right: 0px !important;
    margin-right: 0px !important;
    text-align: center;
  }

  #main .agent .agent-info {
    padding-left: 0px !important;
    margin-left: 0px !important;
    text-align: center;
  }
 }

#main .action-statement {
  font-family: 'raleway';
}
