---
layout: compress
---
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% seo %}
    {% include favicons.html %}

    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
  </head>
  <body>
    {{ content }}
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
  <script src="{{ site.baseurl }}/assets/js/validation.js"></script>
  <script src="{{ site.baseurl }}/assets/js/main.js"></script>

  <script type="text/javascript">
      jQuery.validator.setDefaults({
        debug: true,
        success: "valid"
      });

      $('form').validate({
        errorPlacement: function(error, element) {},
        rules: {
          {% if site.data.layout.capture == 'Email' or site.data.layout.capture == 'Both' %}
          phone: {
            required: true,
            phoneUS: true
          {% endif %}
          }{% if site.data.layout.capture == 'Phone' or site.data.layout.capture == 'Both' %},
          email: {
            required: true,
            email: true
          }
          {% endif %}
        }
      });
  </script>

  {% if site.data.analytics.google_analytics %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.data.analytics.google_analytics }}"></script>
  <script type="text/javascript">
    window['ga-disable-{{ site.analytics.google_analytics }}'] = window.doNotTrack === "1" || navigator.doNotTrack === "1" || navigator.doNotTrack === "yes" || navigator.msDoNotTrack === "1";
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ site.google_analytics }}');
  </script>
  {% endif %}



  </body>
</html>
